{{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <br>
    <button class="btn btn-lg btn-primary">{{ button_label|default() }}
    <a href="{{ path('joueur_new') }}" style="color: white ; text-decoration: none;">
        Continuer
    </a>
    </button>
{{ form_end(form) }}
